<div style="max-width: 900px; margin: auto;">
    <h1 style='margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;line-height:115%;'><strong><u><span style="color: blue; font-size:19px;line-height:115%;font-family:Avenir;">IIT (ISM) Dhanbad</span></u></strong><u><span style="font-family:Avenir;"></span></u></h1>

    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;line-height:115%;'><strong><span style="font-size:19px;line-height:115%;">&nbsp;</span></strong></p>
<p style='margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;line-height:115%;'><strong><u><span style="font-size:19px;line-height:115%;font-family:Avenir;">INTERNSHIP NOTIFICATION FORM (<%=result.placement-1%>-<%= result.placement%100%>)</span></u></strong><u><span style="font-family:Avenir;"></span></u></p>
<p style='margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:19px;font-family:Avenir;">COMPANY OVERVIEW</span></strong></p>
<table style="width:100.0%;margin-left:-5.75pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width:162.8pt;border:solid black 1.0pt;background:#F2F2F2;padding:0cm 5.75pt 0cm 5.75pt;height:26.0pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">Name of the Company</span></strong></p>
            </td>
            <td style="width:331.95pt;border:solid black 1.0pt;border-left:  none;padding:0cm 5.75pt 0cm 5.75pt;height:26.0pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style='font-size:15px;font-family:"Cambria","serif";color:#2F5496;'><%= inf.companyId.name %> </span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:162.8pt;border:solid black 1.0pt;border-top:none;background:#F2F2F2;padding:  0cm 5.75pt 0cm 5.75pt;height:26.0pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">Category/ Sector</span></strong></p>
            </td>
            <td style="width:331.95pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.75pt 0cm 5.75pt;height:26.0pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-29.25pt;'><strong><span style='font-size:15px;font-family:"Cambria","serif";color:#2F5496;'><%= inf.sector%> </span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:162.8pt;border:solid black 1.0pt;border-top:none;background:#F2F2F2;padding:  0cm 5.75pt 0cm 5.75pt;height:26.0pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">Website</span></strong></p>
            </td>
            <td style="width:331.95pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.75pt 0cm 5.75pt;height:26.0pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style='font-size:15px;font-family:"Cambria","serif";color:#2F5496;'><%= inf.website%> </span></strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:12.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:19px;font-family:Avenir;">INTERNSHIP DURATION</span></strong></p>
<table style="width:100.0%;margin-left:-5.75pt;border-collapse:collapse;border:none;">
    <tbody>
    
       
        
        <%  for(let dur of inf.duration){  %> 
  
            <% let course= `Dual Degree/ Integrated M. Tech courses only (${result.placement} batch)`  %> 
            <% if(dur==="MaytoJuly") course=`Pre-final year students of ALL courses (${result.intern} batch)`%> 
            <% if(dur==="JulytoDec") course=`M. Tech/ MBA – Business Analytics courses only (${result.intern} batch)` %> 
            
        <tr>
            <td style="width:160.5pt;border:solid black 1.0pt;background:#F2F2F2;padding:0cm 5.75pt 0cm 5.75pt;height:25.7pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;"><%= dur %> </span></strong></p>
            </td>
            

            <td style="width:334.25pt;border:solid black 1.0pt;border-left:  none;background:white;padding:0cm 5.75pt 0cm 5.75pt;height:25.7pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><span style="font-size:15px;font-family:Avenir;"><%= course %> </span></p>
            </td>
        </tr>
       
        <% } %> 
    </tbody>
</table>
<p style='margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:12.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:19px;font-family:Avenir;">INTERN PROFILE</span></strong></p>
<table style="width:100.0%;margin-left:-5.75pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width:162.8pt;border:solid black 1.0pt;background:#F2F2F2;padding:0cm 5.75pt 0cm 5.75pt;height:21.55pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">Job Designation</span></strong></p>
            </td>
            <td style="width:331.95pt;border:solid black 1.0pt;border-left:  none;background:white;padding:0cm 5.75pt 0cm 5.75pt;height:21.55pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style='font-size:15px;font-family:"Cambria","serif";'><%= inf.designation %> </span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:162.8pt;border:solid black 1.0pt;border-top:none;background:#F2F2F2;padding:0cm 5.75pt 0cm 5.75pt;height:56.55pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">Job Description</span></strong></p>
            </td>
            <td style="width:331.95pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;background:white;padding:0cm 5.75pt 0cm 5.75pt;height:56.55pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style='font-size:15px;font-family:"Cambria","serif";'><%= inf.description %> </span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:162.8pt;border:solid black 1.0pt;border-top:none;background:#F2F2F2;padding:  0cm 5.75pt 0cm 5.75pt;height:35.5pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">Mode of Internship</span></strong></p>
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">(Virtual/ Physical)</span></strong></p>
            </td>
            <td style="width:331.95pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;background:white;padding:0cm 5.75pt 0cm 5.75pt;height:35.5pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style='font-size:15px;font-family:"Cambria","serif";'><%= inf.mode %> </span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:162.8pt;border:solid black 1.0pt;border-top:none;background:#F2F2F2;padding:  0cm 5.75pt 0cm 5.75pt;height:36.85pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">Place of Posting</span></strong></p>
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-family:Avenir;">(In case of physical internship)</span></strong></p>
            </td>
            <td style="width:331.95pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;background:white;padding:0cm 5.75pt 0cm 5.75pt;height:36.85pt;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style='font-size:15px;font-family:"Cambria","serif";'><%= inf.placeOfPosting %> </span></strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:12.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:19px;font-family:Avenir;">STIPEND DETAILS</span></strong></p>

<div align="center" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'>
    <table style="width:100.0%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width:170.75pt;border:solid black 1.0pt;background:#F2F2F2;padding:0cm 5.75pt 0cm 5.75pt;">
                    <p style='margin:0cm;margin-bottom:  4.8pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:4.8pt;margin-right:0cm;margin-left:0cm;'><strong><span style="font-family:Avenir;">Stipend per month</span></strong></p>
                </td>
                <td style="width:324.0pt;border:solid black 1.0pt;border-left:none;background:white;padding:0cm 5.75pt 0cm 5.75pt;">
                    <p style='margin:0cm;margin-bottom:  4.8pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:4.8pt;margin-right:0cm;margin-left:0cm;text-align:justify;'><strong><span style='font-size:15px;font-family:"Cambria","serif";'><%= inf.stipend %> </span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="width:170.75pt;border:solid black 1.0pt;border-top:none;background:#F2F2F2;padding:  0cm 5.75pt 0cm 5.75pt;">
                    <p style='margin:0cm;margin-bottom:  4.8pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:4.8pt;margin-right:0cm;margin-left:0cm;'><strong><span style="font-family:Avenir;">PPO provision on performance basis (Yes / No)&nbsp;</span></strong></p>
                </td>
                <td style="width:324.0pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;background:white;padding:0cm 5.75pt 0cm 5.75pt;">
                    <p style='margin:0cm;margin-bottom:  4.8pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:4.8pt;margin-right:0cm;margin-left:0cm;text-align:justify;'><strong><span style='font-size:15px;font-family:"Cambria","serif";color:#2F5496;'><%=(inf.provisionForPPO?"Yes" : "No")  %> </span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="width:170.75pt;border:solid black 1.0pt;border-top:none;background:#F2F2F2;padding:  0cm 5.75pt 0cm 5.75pt;">
                    <p style='margin:0cm;margin-bottom:  4.8pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:4.8pt;margin-right:0cm;margin-left:0cm;'><strong><span style="font-family:Avenir;">CTC for PPO selects</span></strong></p>
                </td>
                <td style="width:324.0pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;background:white;padding:0cm 5.75pt 0cm 5.75pt;">
                    <p style='margin:0cm;margin-bottom:  4.8pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:4.8pt;margin-right:0cm;margin-left:0cm;text-align:justify;'><span style='font-size:15px;font-family:"Cambria","serif";color:#2F5496;'><%= inf.ctcDetails %> </span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p style='margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:12.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:19px;font-family:Avenir;">ELIGIBLE COURSES & DISCIPLINES</span></strong></p>

<% if(inf.btechStudents.length){ %> 
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:6.0pt;margin-right:-9.35pt;margin-left:0cm;text-align:justify;'><strong><u><span style="font-size:21px;font-family:Avenir;">4-Year B.Tech Programs</span></u></strong></p>
<p style='margin:0cm;margin-bottom:4.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:2.0pt;margin-right:-9.35pt;margin-left:0cm;text-align:justify;'><span style="font-family:Avenir;">Admitted through <strong>JEE (Advanced)&nbsp;</strong></span></p>
<table style="width:100.0%;margin-left:-6.0pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width: 4cm;border: 1pt solid black;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Sl.No.</span></strong></p>
            </td>
            <td style="width: 800pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Courses</span></strong></p>
            </td>
        </tr>
        <% let cnt = 1; %> 
        <% for(let course of inf.btechStudents) {%> 

        
                <tr>
            <td style="width: 269.35pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-size:15px;font-family:Avenir;"><%= cnt %> </span></p>
            </td>
            <td style="width: 8cm;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><span style='font-size:15px;font-family:"MS Gothic";'><%= course %> </span></p>
            </td>
        </tr>
        <% cnt++; %> 
        <% } %> 
    </tbody>
</table>
<% } %> 

<% if(inf.fiveYrsStudents.length) {%> 
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:6.0pt;margin-right:-9.35pt;margin-left:0cm;text-align:justify;'><strong><u><span style="font-size:13px;font-family:Avenir;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:6.0pt;margin-right:-9.35pt;margin-left:0cm;text-align:justify;'><strong><u><span style="font-size:21px;font-family:Avenir;">5-Year Dual Degree/ Integrated M.Tech Programs</span></u></strong></p>
<p style='margin:0cm;margin-bottom:4.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:2.0pt;margin-right:-9.35pt;margin-left:0cm;text-align:justify;'><span style="font-family:Avenir;">Admitted through <strong>JEE (Advanced)&nbsp;</strong></span></p>
<div align="center" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'>
    <table style="width:100.0%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 4cm;border: 1pt solid black;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Sl.No.</span></strong></p>
                </td>
                <td style="width: 800pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Courses</span></strong></p>
                </td>
            </tr>
            <%  cnt = 1; %> 
            <% for(let course of inf.fiveYrsStudents) {%> 
    
            
                    <tr>
                <td style="width: 269.35pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-size:15px;font-family:Avenir;"><%= cnt %> </span></p>
                </td>
                <td style="width: 8cm;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><span style='font-size:15px;font-family:"MS Gothic";'><%= course %> </span></p>
                </td>
            </tr>
            <% cnt++; %> 
            <% } %>
        </tbody>
    </table>
</div>
<br>

<% } %> 


<% if(inf.skillBasedStudents.length) {%> 
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><strong><u><span style="font-size:21px;font-family:Avenir;">Skill Based Hiring</span></u></strong></p>
<p style='margin:0cm;margin-bottom:4.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:2.0pt;margin-right:-9.35pt;margin-left:0cm;'><span style="font-family:Avenir;color:#222222;background:white;">Students with certified technical expertise&nbsp;in the following skills (from&nbsp;Coursera, Udemy etc.)</span></p>
<div align="center" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'>
    <table style="width:100.0%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 4cm;border: 1pt solid black;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Sl.No.</span></strong></p>
                </td>
                <td style="width: 800pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Courses</span></strong></p>
                </td>
            </tr>
            <%  cnt = 1; %> 
            <% for(let course of inf.skillBasedStudents) {%> 
    
            
                    <tr>
                <td style="width: 269.35pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-size:15px;font-family:Avenir;"><%= cnt %> </span></p>
                </td>
                <td style="width: 8cm;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><span style='font-size:15px;font-family:"MS Gothic";'><%= course %> </span></p>
                </td>
            </tr>
            <% cnt++; %> 
            <% } %>
        </tbody>
    </table>
</div>

<% } %> 


<% if(inf.msctechStudents.length){ %> 
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><strong><span style="font-size:21px;font-family:Avenir;">&nbsp;</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><strong><span style="font-size:21px;font-family:Avenir;">&nbsp;</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><strong><span style="font-size:21px;font-family:Avenir;">&nbsp;</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><strong><u><span style="font-size:21px;font-family:Avenir;">3-Year MSc.Tech Programs</span></u></strong></p>
<p style='margin:0cm;margin-bottom:4.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:2.0pt;margin-right:-9.35pt;margin-left:0cm;text-align:justify;'><span style="font-family:Avenir;">Admitted through&nbsp;</span><strong><span style="font-size:17px;font-family:Avenir;">JAM</span></strong></p>
<div align="center" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'>
    <table style="width:100.0%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 4cm;border: 1pt solid black;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Sl.No.</span></strong></p>
                </td>
                <td style="width: 800pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Courses</span></strong></p>
                </td>
            </tr>
            <%  cnt = 1; %> 
            <% for(let course of inf.msctechStudents) {%> 
    
            
                    <tr>
                <td style="width: 269.35pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-size:15px;font-family:Avenir;"><%= cnt %> </span></p>
                </td>
                <td style="width: 8cm;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><span style='font-size:15px;font-family:"MS Gothic";'><%= course %> </span></p>
                </td>
            </tr>
            <% cnt++; %> 
            <% } %>
        </tbody>
    </table>
</div>
<% } %> 

<% if(inf.mtechStudents.length){ %> 
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:justify;line-height:150%;'><span style="font-size:11px;line-height:150%;font-family:Avenir;">&nbsp;</span></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.35pt;text-align:justify;'><strong><u><span style="font-size:21px;font-family:Avenir;">2-Year M.Tech Programs</span></u></strong></p>
<p style='margin:0cm;margin-bottom:3.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:3.0pt;margin-right:-9.35pt;margin-left:0cm;text-align:justify;'><span style="font-family:Avenir;">Admitted through <strong>GATE</strong></span></p>
<table style="width:100.0%;margin-left:1.1pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width: 4cm;border: 1pt solid black;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Sl.No.</span></strong></p>
            </td>
            <td style="width: 800pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Courses</span></strong></p>
            </td>
        </tr>
        <%  cnt = 1; %> 
        <% for(let course of inf.mtechStudents) {%> 

        
                <tr>
            <td style="width: 269.35pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-size:15px;font-family:Avenir;"><%= cnt %> </span></p>
            </td>
            <td style="width: 8cm;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><span style='font-size:15px;font-family:"MS Gothic";'><%= course %> </span></p>
            </td>
        </tr>
        <% cnt++; %> 
        <% } %>
    </tbody>
</table>
<% } %> 

<% if(inf.mbaStudents.length){ %> 

<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:justify;line-height:150%;'><span style="font-size:11px;line-height:150%;font-family:Avenir;">&nbsp;</span></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.35pt;text-align:justify;'><strong><u><span style="font-size:21px;font-family:Avenir;">2-Year MBA Programs</span></u></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><span style="font-family:Avenir;">Admitted through</span><strong><span style="font-size:17px;font-family:Avenir;">&nbsp;CAT</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><strong><span style="font-size:11px;font-family:Avenir;">&nbsp;</span></strong></p>
<div align="center" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'>
    <table style="width:100.0%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 4cm;border: 1pt solid black;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Sl.No.</span></strong></p>
                </td>
                <td style="width: 800pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Courses</span></strong></p>
                </td>
            </tr>
            <%  cnt = 1; %> 
            <% for(let course of inf.mbaStudents) {%> 
    
            
                    <tr>
                <td style="width: 269.35pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-size:15px;font-family:Avenir;"><%= cnt %> </span></p>
                </td>
                <td style="width: 8cm;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><span style='font-size:15px;font-family:"MS Gothic";'><%= course %> </span></p>
                </td>
            </tr>
            <% cnt++; %> 
            <% } %>
        </tbody>
    </table>
</div>
<br>

<% } %> 

<% if(inf.mscStudents.length) { %> 
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-9.0pt;text-align:justify;'><strong><u><span style="font-size:21px;font-family:Avenir;">2-Year M.Sc. Programs</span></u></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><span style="font-family:Avenir;">Admitted through&nbsp;</span><strong><span style="font-size:17px;font-family:Avenir;">JAM &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><strong><span style="font-size:11px;font-family:Avenir;">&nbsp;</span></strong></p>
<div align="center" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'>
    <table style="width:100.0%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 4cm;border: 1pt solid black;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Sl.No.</span></strong></p>
                </td>
                <td style="width: 800pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: rgb(222, 235, 246);padding: 0cm 5.75pt;height: 14.25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><strong><span style="font-size:17px;font-family:Avenir;">Courses</span></strong></p>
                </td>
            </tr>
            <%  cnt = 1; %> 
            <% for(let course of inf.mscStudents) {%> 
    
            
                    <tr>
                <td style="width: 269.35pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-size:15px;font-family:Avenir;"><%= cnt %> </span></p>
                </td>
                <td style="width: 8cm;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(242, 242, 242);padding: 0cm 5.75pt;height: 15.55pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;text-align:center;'><span style='font-size:15px;font-family:"MS Gothic";'><%= course %> </span></p>
                </td>
            </tr>
            <% cnt++; %> 
            <% } %>
        </tbody>
    </table>
</div>

<% } %> 

<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;line-height:150%;'><strong><span style="font-family:Avenir;">&nbsp;</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;line-height:150%;'><strong><span style="font-family:Avenir;">&nbsp;</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-right:-30.65pt;text-align:center;'><strong><span style="font-size:19px;font-family:Avenir;">SELECTION PROCEDURE</span></strong></p>
<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;line-height:150%;'><strong><span style="font-family:Avenir;">&nbsp;</span></strong></p>
<div align="center" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'>
    <table style="width:100.0%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 231.2pt;border: 1pt solid black;background: white;padding: 0cm 5.75pt;height: 23.6pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Avenir;">Resume Shortlisting</span></p>
                </td>
                <td style="width: 271.8pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;background: white;padding: 0cm 5.75pt;height: 23.6pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align:center;'><span style="font-family:Avenir;"></span><span style='font-family:"MS Gothic";'><%=(inf.shortlistFromResumes?"Yes" : "No")%></p>
                    </td>
            </tr>
            <tr>
                <td style="width: 231.2pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(237, 237, 237);padding: 0cm 5.75pt;height: 25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Avenir;">Type of Test</span></p>
                </td>
                <td style="width: 271.8pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(237, 237, 237);padding: 0cm 5.75pt;height: 25pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align: center;'><strong><span style='font-size:15px;font-family:"Cambria","serif";color:#2F5496;'><%= inf.typeOfTest %> </span></strong></p>                
                </td>
            </tr>
            <tr>
                <td style="width: 231.2pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: white;padding: 0cm 5.75pt;height: 20.6pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Avenir;">Other Qualification Rounds&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
                </td>
                <td style="width: 271.8pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: white;padding: 0cm 5.75pt;height: 20.6pt;vertical-align: top;">
                    <%   for(let round of inf.otherRounds) { %>
                        <p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;text-align: center;'><strong><span style='font-size:15px;font-family:"Cambria","serif";color:#2F5496;'><%= round %> </span></strong></p>                
                        <% } %> 
                </td>
            </tr>
            <tr>
                <td style="width: 231.2pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(237, 237, 237);padding: 0cm 5.75pt;height: 31.75pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Avenir;">Total number of rounds</span></p>
                </td>
                <td style="width: 271.8pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(237, 237, 237);padding: 0cm 5.75pt;height: 31.75pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  .5pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:.5pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-family:Avenir;"><%= inf.totalRounds %> </span></p>
                </td>
            </tr>
            <tr>
                <td style="width: 231.2pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: white;padding: 0cm 5.75pt;height: 45.8pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Avenir;">Number of offers available for IIT(ISM) students (Range would be sufficient)</span></p>
                </td>
                <td style="width: 271.8pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: white;padding: 0cm 5.75pt;height: 45.8pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  .5pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:.5pt;margin-right:0cm;margin-left:0cm; text-align: center;'><span style="font-family:Avenir;"><%= inf.numberOfOffers %> </span></p>
                </td>
            </tr>
            <tr>
                <td style="width: 231.2pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(237, 237, 237);padding: 0cm 5.75pt;height: 49.45pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  1.0pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:1.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Avenir;">Eligibility Criteria (if any)</span></p>
                </td>
                <td style="width: 271.8pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;background: rgb(237, 237, 237);padding: 0cm 5.75pt;height: 49.45pt;vertical-align: top;">
                    <p style='margin:0cm;margin-bottom:  .5pt;font-size:16px;font-family:"Times New Roman","serif";color:black;margin-top:.5pt;margin-right:0cm;margin-left:0cm;text-align: center;'><span style="font-family:Avenir;"><%= inf.eligibilityCriteria %> </span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";color:black;'><span style="font-family:Avenir;">&nbsp;</span></p>
</div>